{
    "Logging": {
      "LogLevel": {
        "Default": "Information",
        "Microsoft.AspNetCore": "Warning"
      }
    },
    "AllowedHosts": "*",
    "ConnectionStrings": {
      "MainConnection": "Data Source=XXX;Initial Catalog=XXX;user id=XXX;password=XXX;TrustServerCertificate=True"
    }
  }
  